@import 'variable';
.foot{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 80%;
    background-color: $fontcolor;
    display: flex;
    @include proflex (flex,center,column);
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
    .footer{
        margin-top: 5%;
        width: 100%;
        @include flexjc (flex,space-around);
        .f-left ,.f-center ,.f-right{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .left{
                margin: 5px;
                display: flex;
                gap: 10px;
            
            }
        }
    }
}



